footer {
  height: 17.313rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.125rem;
  padding: 0 .938rem;
  background-color: var(--red);
  color: #251d20;
  font-weight: 700;
}

footer p, footer h3 {
  margin: 0;
}

footer a {
  text-decoration: none;
  color: #251d20;
}

.footer__copyright {
  font-size: .75rem;
  font-weight: 400;
  margin: 1rem 0 2rem;
}

.footer__copyright a {
  text-decoration: underline;
}

.footer__copyright a:hover {
  text-decoration: none;
}

.footer__policy {
  margin-bottom: 3.313rem;
  text-decoration: underline;
}

.footer__policy:hover {
  text-decoration: none;
}

.footer__email:hover {
  text-decoration: underline;
}

.footer__email {
  font-size: 1.125rem;
}

.footer__issues {
  display: none;
  flex-direction: column;
  font-weight: 400;
}

.footer__issues ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  footer {
    align-items: flex-start;
    position: relative;
  }

  .footer__desc {
    width: 15.625rem;
    text-align: left;
  }

  .footer__links {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 10%;
  }
}

@media (min-width: 992px) {
  .footer__email {
    position: fixed;
    top: 1.313rem;
    right: .938rem;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: transparent;
  }

  .footer__issues {
    display: flex;
    position: fixed;
    bottom: 1.375rem;
    right: .938rem;
  }
}
