.issue-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.issue-img {
  width: 26.25rem;
}

.issue-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  gap: .25rem;
}

.issue-text p, .issue-text h3 {
  margin: 0;
  color: #251d20;
}

.issue-text h3 {
  font-size: 1.125rem;
  margin-bottom: 1.125rem;
}

.issue-text p {
  font-size: .938rem;
}

.issue-text a {
  text-decoration: none;
  color: #FFFFFF;
}

.issue-text a:hover {
  text-decoration: underline;
}