@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --sky-blue: #00c1b5;
  --orange: #ff651a;
  --yellow: #ffbe00;
  --blue: #1d3fbb;
  --red: #e30512;
  --pink: #ff608c;
}